.add-item{
    max-width: 50% !important;

    .input{
        input{
            padding: 1.7rem;
        }
    }
    .file-input{
        display: none;
    }
    .error{
        div {background-color: rgb(161, 10, 10);}
    }
    .success{
        div {background-color: rgb(8, 112, 8);}
    }
}